// Navigation ==============
.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

// Nav bar menu button
.open {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 2.5em;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: rgb(15, 132, 228);
  }
}

// Close nav bar button
.close {
  position: relative;
  right: 50%;
  transform: translate(50%, 0);
  font-size: 2.5em;
  cursor: pointer;
  color: white;
  opacity: 1;
  transition: all 0.3s;
  &:hover {
    color: rgb(15, 132, 228);
  }
}

// Nav list container and items
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.flex-item a {
  text-decoration: none;
  line-height: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px;

  &:hover {
    color: black;
    background-color: rgb(249, 252, 252);
  }
}
// =========================

@media only screen and (max-width: 414px) {
  .flex-item {
    font-size: 0.7em;
  }
  .close {
    font-size: 1.5em;
  }
  .open {
    font-size: 1.5em;
    transform: translate(-50%, 20px);
  }
}
@media only screen and (min-width: 568px) and (max-width: 736px) {
  .flex-item {
    font-size: 0.7em;
  }
  .close {
    font-size: 1.5em;
  }
  .open {
    font-size: 1.5em;
    transform: translate(-50%, 20px);
  }
}
