.social-icons {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2em;
}

.social-icons li {
  border-radius: 50%;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style: none;
}

.twitter,
.facebook,
.linkedin,
.github,
.google {
  cursor: pointer;
  transition: all 0.3s;
}

.twitter:hover {
  background-color: #54acee;
}

.facebook:hover {
  background-color: #3a5998;
}

.linkedin:hover {
  background-color: #0277b5;
}

.github:hover {
  background-color: #080808;
}

.google:hover {
  background-color: #dc4e41;
}

@media only screen and (max-width: 414px) {
  .social-icons {
    font-size: 1.3em;
  }
  .social-icons li {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    list-style: none;
  }
  .google {
    background-color: #dc4e41;
  }
  .github {
    background-color: #080808;
  }
  .linkedin {
    background-color: #0277b5;
  }
  .facebook {
    background-color: #3a5998;
  }
  .twitter {
    background-color: #54acee;
  }
}

@media only screen and (min-width: 568px) and (max-width: 736px) {
  .social-icons {
    font-size: 1.3em;
  }
  .social-icons li {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    list-style: none;
  }
  .google {
    background-color: #dc4e41;
  }
  .github {
    background-color: #080808;
  }
  .linkedin {
    background-color: #0277b5;
  }
  .facebook {
    background-color: #3a5998;
  }
  .twitter {
    background-color: #54acee;
  }
}
