// Body ====================
body {
  background-image: linear-gradient(
      to bottom right,
      rgba(175, 106, 41, 0.445),
      rgba(0, 0, 0, 0.753)
    ),
    url("http://4.bp.blogspot.com/-R0-y6uI6PSY/UI4ZCyJvwUI/AAAAAAAAB5Y/omA4n2GoDSM/s1600/mountains-hd-widescreen-high-resolutions-backgrounds-wallpapers-laptop-desktop-042.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Varela Round", sans-serif;
}
// =========================
