.home {
  color: white;
}

.intro-container {
  color: #eaeaf1;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s;
}

.intro-container .intro {
  font-size: 1.1em;
}

.intro-container .bio-image {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  filter: saturate(2);
}

@media only screen and (min-width: 568px) and (max-width: 736px) {
  .intro-container {
    transform: translateY(-80px);
    font-size: 0.8em;
    margin-right: 75px;
  }
  .intro-container .intro {
    transform: translateY(35px);
  }
  .intro-container .bio-image {
    height: 33%;
    width: 33%;
    float: left;
    margin-right: 20px;
  }
}
